body {
    font-family: monospace;
    text-align: center;
}
#board {
    background-color: black;
}
.instructions {
    font-family: monospace;
    text-align: center;
    font-size: 16px;
    color: #fe1a1a;
    margin: 20px 0;
}
